// Use CMAP color palette
$grey-dk-000: #80a4ab;
$grey-dk-100: #517e8a;
$grey-dk-200: #3c5c67;
$grey-dk-250: #2a3c43;
$grey-dk-300: #181e20;

$grey-lt-000: #f7fafb;
$grey-lt-100: #eff5f6;
$grey-lt-200: #e5eef0;
$grey-lt-300: #dce6e8;

$base-button-color: $grey-lt-000;
$btn-primary-color: #008fd4;
$link-color: #008fd4;
